* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: #10182f;
  background-color: rgb(82, 100, 133);
  
}

header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(45, 66, 106);

}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(45, 66, 106);
  
}


header h1 {
  color: white;
  text-decoration: underline;
  font-size: 275%;
  
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-weight: bold;

}

nav a {
  color: #0b1825;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 200%;

}

nav a:hover {
  background-color:bisque;
 
}

p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: rgb(146, 142, 142);
  text-decoration: none;
  text-align: left;
  font-size: 200%;

}

h2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: underline;
  font-size: 175%;
  color: black;
}

h3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: rgb(146, 142, 142);
  text-decoration: none;
  text-align: left;
  font-size: 200%;
   
}

h5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: rgb(230, 226, 226);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 250%;

  
}


.contact-address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 75%;
  font-size: 120%;

}

.color-block {
  background: rgb(67, 89, 125);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  padding: 5% 8%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  background-image: url(../assets/images/fog.jpg);

}

.color-block h2 {
  margin: 0;
  text-align: right;
  color: whitesmoke;

}

.card {
  border-style: solid;
  border-radius: 35px;
  box-shadow: 10px 10px darkgray;
  border-width: 1px;
  padding: 10px;
  margin: 20px;
  flex: 0 0 300px;
  background-color: whitesmoke;

}


.wrap-up {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  border-width: 1px;
  margin: 20px;
  padding: 0 10px;
  background-color: rgba(119, 72, 10, 0.292);
  box-shadow: #8c949b;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  float: left;
  width: 25%;
  
}

.card-body {
  flex-direction: column;
  justify-content: space-between;
  display: flex;

}

.card img {
  width: 100%;
  background-size: contain;
  box-shadow: #13293d;


}

.card h4 {
  color: #13293d;
  text-align: center;
  font-size: 100%;

}

.wrap-up a {
  text-align: center;
  padding: 20px;
  border-radius: 30px 30px 0 0;
  font-family: monospace; 
  font-size: 150%;

}

.footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: left;
  background: rgb(144, 151, 158);

}

.footer a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 200%;
   

}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}