* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: cornflowerblue;

}

header h1 {
  color: white;
  text-decoration: underline;
  
}

.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 200%;

}

h2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: underline;
  font-size: 175%;
  color: black;
}

h3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: darkgray;
  font-size: 150%;
  text-decoration: underline;
}


.contact address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 75%;
  font-size: 120%;


}

.color-block {
  background: rgb(67, 89, 125);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  padding: 5% 8%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  background-image: url(../assets/images/fog.jpg);

}

.color-block h2 {
  margin: 0;
  text-align: right;
  color: whitesmoke;

}

.card {
  border-style: solid;
  border-radius: 35px;
  box-shadow: 10px 10px darkgray;
  border-width: 1px;
  padding: 10px;
  margin: 20px;
  flex: 0 0 300px;

}

.footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: left;
  background: slategrey;

}